.Synopsis {
  text-overflow: ellipsis;
  overflow: hidden;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.thecard {
  box-shadow: 0 1px 15px rgba(0,0,0,.4);
}

.clamp-lines__button {
  background: rgb(133, 133, 133);
  color: #fff;
  height: 30px;
  margin-left: 30%;
  width: 115px;
  line-height: 10px;
  text-align: center;
  border: 0;
  transition: all 0.2s ease 0s;
}


